<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<form action="/testREST/testValue">
<input type="submit" value="测试占位符实现restful风格">
</form>
<br/>

<form action="/testREST" method="post">
    <input type="text" name="name" >
    <input type="age" name="age">
    <input type="submit" value="testrestful风格对象传输">
</form>
<br/>

<form action="/testREST" method="POST">
    <input type="hidden" name="_method" value="PUT">
    <input type="submit" value="测试PUT">
</form>
<br/>

<form action="/testREST" method="post">
    <input type="hidden" value="DELETE" name="_method">
    <input type="submit" value="测试DELETE">
</form>

</body>
</html>